@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

button:focus {
  opacity: 0.8;
}

button:active {
  opacity: 0.7;
}

#app {
  font-family: 'Poppins', sans-serif;
  }

  textarea {
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: #2c242c;
  }

  .header {
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: #322531;
    height: 50px;
    position: relative;
    -webkit-box-shadow: 0px 10px 19px -12px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 10px 19px -12px rgba(0,0,0,0.69);
    box-shadow: 0px 10px 19px -12px rgba(0,0,0,0.69);
  }

  .header__link {
    margin-right: 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #989197;
  }

  .header__link:hover {
    color: #fff;
  }

  .main {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .container {
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .home__title {
    text-align: center;
    color: #feede1;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
  }

  .form {
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh - 90px);
  }

  .form__title {
    color: #dbd1d1;
    padding-bottom: 10px;
    font-size: 30px;
  }

  .form__input {
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    border-radius: 7px;
    height: 50px;
    width: 75vw;
    background-color: #322531;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 50px -7px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 50px -7px rgba(0,0,0,1);
    box-shadow: 0px 0px 50px -7px rgba(0,0,0,1);
  }

  .form__input::placeholder {
    font-size: 20px;
  }

  .description {
    padding: 20px 0 0 20px;
    resize: vertical;
    height: 40vh;
  }

  .form__button{
    width: 180px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #4f484e;
    border-radius: 10px;
    color: #757575;
    font-size: 18px;
    transition: 0.2s;
  }

  .form__button:hover {
    background-color: #4f484e;
    color: #fff;
  }

  .tasks {
    align-items: flex-start;
  }

  .task__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .task__list-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    background-color: #322531;
    width: 350px;
    border-radius: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 50px -7px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 50px -7px rgba(0,0,0,1);
    box-shadow: 0px 0px 50px -7px rgba(0,0,0,1);
  }

  .full-item {
    width: 75vw;
  }

  .task__item-text {
    color: #dbd1d1;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .task__item-title {
    word-break: break-all;
    color: #dbd1d1;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .task__item-description {
    word-break: break-all;
    color: #dbd1d1;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .task__item-link {
    text-decoration: none;
    border: 1px solid #cb444a;
    color: #cb444a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    transition: 0.2s;
  }

  .task__item-link:hover {
    background-color: #cb444a;
    color: #fff;
  }

  .task__button-wrapper {
    display: flex;
  }

  .task__item-button {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.2s;
    margin-right: 20px;
  }

  .edit {
    border: 1px solid #4f484e;
    color: #757575;
    transition: 0.2s;
  }

  .edit:hover {
    background-color: #4f484e;
    color: #fff;
  }

  .delete {
    border: 1px solid #cb444a;
    color: #cb444a;
    transition: 0.2s;
  }

  .delete:hover {
    background-color: #cb444a;
    color: #fff;
  }

  .red {
    border: 2px solid #960e0e;
  }
  
  .popup {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: #09090a78;
  }

  .popup__inner {
    position: fixed;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 40px;
    margin-top: 20px;
  }

  .popup__header {
    display: flex;
    justify-content: space-between;
  }

  .popup__header-title {
    font-size: 25px;
  }

  .popup__header-button {
    font-size: 25px;
  }

  .popup__header-button:hover {
    cursor: pointer;
  }

  .popup__main {
    margin-top: 20px;
  }
  
  .popup__main-title {
    font-size: 20px;
  }

  .popup__footer {
    margin-top: 40px;
    white-space: nowrap;
  }

  .popup__footer-button {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.2s;
    margin-right: 20px;
  }

  .invisible {
    display: none;
  }

  .visible {
    display: flex !important; 
  } 

  @media (max-width: 1250px) {
    .home {
      max-width: 800px;
    }
    .home__title {
      font-size: calc(48px + 4vw);
    }
  }

  @media (max-width: 500px){
    .home {
      max-width: 300px;
    }

    .home__title {
      font-size: calc(32px + 4vw);
    }

    .task__item-title {
      font-size: calc(8px + 2vw);;
    }

    .task__item-description {
      font-size: calc(7px + 2vw);
    }

    .form__title {
      font-size: 25px;
    }

    .form__input {
      padding-left: 10px;
      font-size: 15px;
    }

    .description {
      padding: 10px 0 0 10px;
      height: 40vh;
    }

    .form__button {
      font-size: calc(10px + 1vw);
      width: calc(80px + 5vw);
      height: calc(15px + 5vw);
      margin-top: 10px;
    }

    .task__list-item {
      width: 70vw;
    }

    .task__item-text {
      font-size: calc(10px + 2vw);
    }

    .task__item-link {
      width: calc(85px + 5vw);
      height: calc(10px + 5vw);
      font-size: calc(5px + 2vw);
    }

    .task__item-button {
      width: calc(85px + 5vw);
      height: calc(10px + 5vw);
      font-size: calc(5px + 2vw);
    }

    .popup__header-title {
    font-size: calc(10px + 2vw);
    }

    .popup__header-button {
      font-size: calc(10px + 2vw);
    }

    .popup__main-title {
      font-size: calc(8px + 2vw);
    }

    .popup__footer-button {
      width: calc(85px + 5vw);
      height: calc(10px + 5vw);
      font-size: calc(5px + 2vw);
    }
  }

  @media (max-width: 335px){
    .header{
      padding-left: 10px;
    }

    .header__link {
      margin-right: 15px;
      font-size: calc(8px + 2vw)
    }

    .home__title {
      display: none;
    }

    .form {
      padding: 0;
    }

    .task__item-text {
      font-size: calc(7px + 2vw);
    }

    .task__item-button {
      width: calc(60px + 3vw);
      height: calc(8px + 5vw);
      font-size: calc(3px + 2vw);
    }
    
    .popup__inner {
      padding: 10px;
      width: 85vw;
    }

    .popup__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .popup__footer-button {
      margin-bottom: 10px;
    }
  }

  @media (max-width:200px) {

    .header__link {
      margin-right: 10px;
      font-size: calc(7px + 2vw)
    }

    .form__title {
      font-size: calc(10px + 2vw);
    }

    .form__input {
      font-size: calc(8px + 2vw);
    }

    .popup__main {
      margin-top: 5px;
    }

    .popup__footer {
      margin-top: 10px;
    }

    hr {
      display: none;
    }
  }
